a 	{text-decoration: none;
	color: green;
	font-style: italic;}
h1,h2	{font-family: "baskerville old face", calligrapher, arial;
	font-weight: bolder;
	color: green;}
p	{font-family: "baskerville old face", calligrapher;
	color: black;
	margin-left: 10px;}
img	{border-style: double;
	border-width: thick;
	border-color: green;
	margin: 10px;}